* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

main.container {
  max-width: 90rem;
  min-height: 30rem;
  padding: 1rem 15rem;
}
main.container .text {
  margin-bottom: 1rem;
}
main.container .text h1 {
  text-align: center;
}
main.container .text h1:first-child {
  font-weight: 100;
}
main.container .text > p {
  text-align: center;
  margin-top: 1rem;
  padding: 0 13rem;
}
main.container .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
main.container .grid .card1 {
  background-color: white;
  box-shadow: 1px 7px 0 5px hsl(0deg, 6%, 84%);
  border-top: 0.3rem solid hsl(180deg, 62%, 55%);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.3rem;
}
main.container .grid .card1 h3 {
  margin-bottom: 0.5rem;
}
main.container .grid .card1 p {
  margin-bottom: 1rem;
  font-weight: 200;
}
main.container .grid .card1 img {
  margin-left: 11rem;
}
main.container .grid .combine {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
}
main.container .grid .combine .card2 {
  background-color: white;
  box-shadow: 1px 7px 0 5px hsl(0deg, 6%, 84%);
  border-top: 0.3rem solid hsl(0deg, 78%, 62%);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.3rem;
}
main.container .grid .combine .card2 h3 {
  margin-bottom: 0.5rem;
}
main.container .grid .combine .card2 p {
  margin-bottom: 1rem;
}
main.container .grid .combine .card2 img {
  margin-left: 11rem;
}
main.container .grid .combine .card3 {
  background-color: white;
  box-shadow: 1px 7px 0 5px hsl(0deg, 6%, 84%);
  border-top: 0.3rem solid hsl(34deg, 97%, 64%);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.3rem;
}
main.container .grid .combine .card3 h3 {
  margin-bottom: 0.5rem;
}
main.container .grid .combine .card3 p {
  margin-bottom: 1rem;
}
main.container .grid .combine .card3 img {
  margin-left: 11rem;
}
main.container .grid .card4 {
  background-color: white;
  box-shadow: 1px 7px 0 5px hsl(0deg, 6%, 84%);
  border-top: 0.3rem solid hsl(212deg, 86%, 64%);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.3rem;
}
main.container .grid .card4 h3 {
  margin-bottom: 0.5rem;
}
main.container .grid .card4 p {
  margin-bottom: 1rem;
}
main.container .grid .card4 img {
  margin-left: 11rem;
}

footer p.attribution {
  font-size: 0.7rem;
  text-align: center;
}
footer p.attribution a {
  color: hsl(228deg, 45%, 44%);
}

@media (max-width: 1150px) and (min-width: 961px) {
  main.container .text > p {
    padding: 0 9rem;
  }
}
@media (max-width: 960px) and (min-width: 401px) {
  main.container {
    padding: 1rem 3rem;
  }
  main.container .text {
    margin-bottom: 3rem;
  }
  main.container .text h1 {
    font-size: 1.5rem;
  }
  main.container .text > p {
    padding: 0 0;
  }
  main.container .grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  main.container .grid .card1 img {
    margin: auto;
  }
  main.container .grid .combine .card2 img {
    margin: auto;
  }
  main.container .grid .combine .card3 img {
    margin: auto;
  }
  main.container .grid .card4 img {
    margin: auto;
  }
}
@media (max-width: 400px) {
  main.container {
    padding: 1rem 1.5rem;
  }
  main.container .text {
    margin-bottom: 3rem;
  }
  main.container .text h1 {
    font-size: 1.5rem;
  }
  main.container .text > p {
    padding: 0 0;
  }
  main.container .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}